#coffeePageContainer{
  position: absolute;
}
.golden {
  width: 90%;
  height: 10em;
  position: absolute;
  display: block;
  z-index: 6;
  margin-top: 4%;
  font-size: 2em;
  margin-left: 26%;
  color: whitesmoke;
}
#goldenStraightArrowLeft {
   float: left;
   margin-top: -7%;
   margin-left: 32%;
   width: 2em;

}
#goldenStraightArrowRight {
  float: left;
  margin-top: -7%;
  margin-left: 8%;
  width: 2em;
}
#featuredCoffee{
  margin-left: 4em;
  height: 93em;
  display: block;
  margin-top: 9%;
  width: 90%;
}
#goldenCoffee {
  margin-left: 33em;
  height: 40%;;
  display: inline-block;
  width: 48.5%;
}
#banner {
  width: 90%;

}
#regionInfo {
  height: 17em;
}
#roasterHead {
  width: 90%;
  margin-left: 2em;
  height: 18em;
}
#mapHead {
  width: 90%;
  margin-left: 2em;
  height: 18em;
  z-index: 7;
  position: absolute;
  display: inline-block;
}
#roasterH1 {
  text-align: center;
  margin-right: 48%;
  font-size: 4em;
}
#mapH1 {
  text-align: center;
  font-size: 4em;
  float: right;
}
#downArrow {
  float: right;
  margin-top: -12%;
  margin-right: 21%;
}
#mapDownArrow {
  float: left;
  margin-top: 7%;
  margin-left: 26%;
}
#straightArrowLeft {
  float: left;
  margin-top: -4%;
  margin-left: 26%;
}
#brewHead {
  width: 90%;
  height: 18em;
  z-index: 7;
  position: absolute;
  display: inline-block;
}
#brewH1 {
  text-align: center;
  font-size: 4em;
}
.roaster {
}
#roasterInfo {
  font-size: 2em;
  width: 41%;
  height: 40%;
  position: absolute;
  margin-left: 2%;
  display: inline-flex;
  color: white;

}

#mapContainer {
  width: 60%;
  height: 35em;
  margin-left: 8%;
  margin-top: 7%;
}
#mapMonths {
  padding: 0;
  margin: 0;
}
.mapLi {
  width: 7.54%;
  justify-content: center;
  display: inline-flex;
  height: 2em;
}

#methodsContainer {
  width: 80%;
  height: 35em;
  margin-left: 10%;
  margin-top: 7%;
}
.methodEls {
  display: inline-block;
}
#brewImage {
  width: 29%;
  height: 35em;
}
#brewSteps {
  font-size: 3em;
  width: 70%;
  height: 35em;
  color: brown;
}
