#contact{
  text-align: center;
  padding-top: 5.5em;
  padding-right: 2.2em;
}
#contact form{
  display: flex;
  flex-direction: column;
}
.formInput{
  border: none;
  border-bottom: .1em solid black;
  margin-bottom: 10px;
  width: 30%;
}
.formInput:focus{
  outline: none;
  border-bottom: .1em solid black;
}
input:required{
  border-color: red;
}
input:required:valid{
  border-color: black;
}
#submitButton{
  background-color: black;
  border: 2px solid black;
  border-radius: 1em;
  color: white;
  width: 13%;
  cursor: pointer;
}
#submitButton:hover{
   color: black;
   outline: 0;
   background-color: transparent;
}
#filters select{
  border: none;
  width: 30%;
  border-bottom: .1em solid black;
}
#filters select:focus{
  outline: none;
}
.error{
  display: none;
  visibility: hidden;
}

.errorShow{
	visibility: visible;
}
