body{
  font-family: 'Palanquin', sans-serif;
}
canvas {
  margin-left: 101%;
}

.header {
  width: 100%;
  position: absolute;
  width: 100%;
  height: 5em;
  -webkit-box-shadow: inset 0px 46px 55px -30px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 46px 55px -30px rgba(0,0,0,0.75);
  box-shadow: inset 0px 46px 55px -30px rgba(0,0,0,0.75);
  z-index: 3;
}
#loadSec {
  width: 100%;
  height: 50em;
  background-color: brown;
  position: fixed;
  z-index: 4;
  display: block;
}
.footer {
  width: 100%;
  position: absolute;
  height: 15em;
}
ul {
  list-style: none;
}
.naveEle {
  z-index: 2;
  position:absolute;
}
li {
  text-decoration: none;
}
h2 {
  font-size: 2em;
  color: white;
}

#origin1H1 {
  font-size: 1.5em;
  color: white;
  line-height: .55em;
  margin-top: 18%;
}
#origin1H1L {
  font-size: 1.5em;
  color: white;
  line-height: .55em;
  margin-top: 18%;
}
.coffeePages{
  position: relative;
  width: 100%;
  height: 44em;
  display: flex;
  z-index: 2;
  margin-top: 20%;
}
#coffeePageBG {
  /*background-color: hsla(32, 100%, 95%, 1);*/
  background-image: url(../media/images/paperBag.jpg);
  width: 100%;
  height: 240em;
  position: absolute;
  z-index: 1;
}
#countryName {
  font-size: 5em;
  margin-left: -8%;
  margin-bottom: -8%;
}
#regionInfo{
  font-size: 2em;
  text-align: center;
}
#mapBox {
  height: 33em;
  background-size: cover;
}
canvas {
  z-index: 6
}
.hideMe {
  display: none;
}
#coffeeCountry {
  margin-left: 92%;
  z-index: 7;
  position: absolute;
  display: inline-block;}
