body{
  font-family: 'Palanquin', sans-serif;
  overflow: auto;
}

.header {
  width: 100%;
  position: fixed;
  width: 100%;
  height: 5em;
  -webkit-box-shadow: inset 0px 46px 55px -30px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 46px 55px -30px rgba(0,0,0,0.75);
  box-shadow: inset 0px 46px 55px -30px rgba(0,0,0,0.75);
  z-index: 3;
  display: table;
}
#loadSec {
  width: 100%;
  height: 50em;
  background-color: brown;
  position: fixed;
  z-index: 4;
  display: block;
}
.footer {
  width: 100%;
  position: absolute;
  border: 1px dashed red;
  height: 39em;
}
ul {
  list-style: none;
  -webkit-padding-start: 0;
  -webkit-padding-end: 1.9em;
  padding-top: 1.9em;
}
li {
  text-decoration: none;
}
h2 {
  font-size: 2em;
  color: white;
}

#origin1H1 {
  font-size: 1.5em;
  color: white;
  line-height: .55em;
  margin-top: 18%;
}
#origin1H1L {
  font-size: 1.5em;
  color: white;
  line-height: .55em;
  margin-top: 18%;
}
.coffeePages{
  position: relative;
  width: 100%;
  height: 44em;
  border: 1px dashed red;
  display: flex;
  z-index: 2;
}
#coffeePageBG {
  background-color: hsla(32, 100%, 95%, 1);
  /*background-image: url(../media/images/paperBag.jpg);*/
  width: 100%;
  height: 132.3em;
  position: absolute;
  z-index: 1;
}
#countryName {
  font-size: 2em;
}
#regionInfo{
  font-size: 1em;
  text-align: center;
}
#mapBox {
  border: 1px dashed black;
  height: 33em;
  background-size: cover;
}
canvas {
  z-index: 6
}
.hideMe {
  display: none;
}
#navButton img{
  width: 2em;
  height: 2.5em;
  padding-left: .75em;
}
.navCollapsed {
  position:fixed;
  cursor:pointer;
}
.navCollapsed ul{
  position:fixed;
  visibility: hidden;
}
.navExpanded {
  text-align:center;
  line-height:5em;
  height:100%;
  width:100%;
  position: fixed;
  top:0;
  left:0;
  background-color:rgba(0,0,0,0.80);
  overflow: hidden;
}
.navExpanded ul {
  position:relative;
  visibility: visible;
}
.navExpanded a {
  text-decoration:none;
  color:white;
  font-size:3em;
}
.navExpanded a:hover {
  color: blue;
}
.navExpanded #navButton img {
  padding-right: 75em;
  padding-top: 2.1em;
}
