.header {
  width: 100%;
  position: fixed;
  width: 100%;
  height: 5em;
  -webkit-box-shadow: inset 0px 46px 55px -30px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 46px 55px -30px rgba(0,0,0,0.75);
  box-shadow: inset 0px 46px 55px -30px rgba(0,0,0,0.75);
  z-index: 3;
}
.footer {
  width: 100%;
  position: absolute;
  border: 1px dashed red;
  height: 39em;
}
ul {
  list-style: none;
}
.naveEle {
  z-index: 2;
  position:absolute;
}
li {
  text-decoration: none;
}
h2 {
  font-size: 2em;
  color: white;
}
.videoContainer {
  width: 98.7%;
  position: absolute;
  z-index: 3;
  -webkit-box-shadow: inset 0px 2px 102px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 2px 102px -3px rgba(0,0,0,0.75);
  box-shadow: inset 0px 2px 102px -3px rgba(0,0,0,0.75);
}
.homeBodyBox {
  /*background-image: url(../media/images/paperBag.jpg);*/
  width: 100%;
  height: 48.5%;
  margin-top: 30%;
  background-color: hsla(277, 100%, 1%, 0.32);
  z-index: 3;
  position: absolute;
  -webkit-box-shadow:  0px 26px 101px -10px rgba(0,0,0,0.75);
  -moz-box-shadow:  0px 26px 101px -10px rgba(0,0,0,0.75);
  box-shadow:  0px 26px 101px -10px rgba(0,0,0,0.75);
}
#cs {
  font-size: .6em;
}
.logo {
  font-family: 'Rancho', cursive;
  /* font-family: 'Palanquin', sans-serif; */
  /* font-family: 'Rajdhani', sans-serif; */
  font-size: 2em;
  position: absolute;
  z-index: 4;
  border: 2px solid white;
  width: 5em;
  height: 3.2em;
  text-align: center;
  margin-left: 42%;
  margin-top: -2%;
  -webkit-box-shadow: 0px -24px 46px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -24px 46px -4px rgba(0,0,0,0.75);
box-shadow: 0px -24px 46px -4px rgba(0,0,0,0.75);

}
#bean {
  margin-left: 46%;
  margin-top: -6.5%;
  position: absolute;
  -webkit-transform: translate(32px) rotate(30deg);
  z-index: 5;
  -webkit-box-shadow: 0px 0px 138px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 138px 8px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 138px 8px rgba(0,0,0,0.75);
}
#beanImg {
  position: absolute;

}
#origin1H1 {
  font-size: 1.5em;
  color: white;
  line-height: .55em;
  margin-top: 18%;
}
.homeQuote {
  font-family: 'Arapey', serif;
  /* font-family: 'Libre Baskerville', serif; */
  font-size: 1.5em;
  color: white;
  text-align: center;
  width: 47%;
  margin-left: 25.5%;
  margin-top: 7%;
  line-height: 1.5em;
}
#break {
display: block;
}
.enterButton {
  background-color: hsla(27, 65%, 34%, 0);
  font-size: 2em;
  z-index: 4;
  width: 3em;
  height: 1.5em;
  position: absolute;
  margin-left: 44.9%;
  margin-top: 50%;
  border-style: hidden;
}
#buttonA {
  text-decoration: none;
  color: black;
}
#headerH2 {
color: purple;
}
.coffeePages{
  position: relative;
  width: 100%;
  height: 44em;
  border: 1px dashed red;
  display: flex;
  z-index: 2;
}
#coffeePageBG {
  background-color: hsla(32, 100%, 95%, 1);
  /*background-image: url(../media/images/paperBag.jpg);*/
  width: 100%;
  height: 132.3em;
  position: absolute;
  z-index: 1;
}
#countryName {
  font-size: 2em;
}
#regionInfo{
  font-size: 1em;
  text-align: center;
}
#mapBox {
  border: 1px dashed black;
  height: 33em;
  background-size: cover;
}
canvas {
  z-index: 6
}
.hideMe {
  display: none;
}

#featuredCoffee{
}
.featuredEls {
  border: 1px dashed blue;
  margin-left: 1em;
  height: 35em;
  display: flex;
  margin-top: 9%;
}
.sideBar {
  width: 23%;
}
#goldenCoffee {
  width: 48.5%;
}
#coffeeData {
  margin-left: 101%;
}
#mapContainer {
  border: 1px dashed blue;
  width: 60%;
  height: 35em;
  margin-left: 8%;
  margin-top: 7%;
}
#mapMonths {
  padding: 0;
  margin: 0;
}
.mapLi {
  border: 1px dashed green;
  width: 7.54%;
  justify-content: center;
  display: inline-flex;
  height: 2em;
}
#brewMethods {
}
#methodsContainer {
  border: 1px dashed blue;
  width: 80%;
  height: 35em;
  margin-left: 10%;
  margin-top: 7%;
}
.methodEls {
  display: inline-block;
}
#brewImage {
  border: 1px dashed green;
  width: 29%;
  height: 35em;
}
#brewSteps {
  border: 1px dashed yellow;
  width: 70%;
  height: 35em;
}
#contact{
  text-align: center;
}
#contact form{
  display: flex;
  flex-direction: column;
}
.formInput{
  border: none;
  border-bottom: .1em solid gray;
  margin-bottom: 10px;
  width: 30%;
}
.formInput:focus{
  outline: none;
  border-bottom: .1em solid blue;
}
input:required{
  border-color: red;
}
input:required:valid{
  border-color: green;
}
